<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hompage</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci fugiat in error provident voluptatum, quod facilis unde odit, corrupti nulla nisi, voluptates ut natus non rerum doloremque dolore nesciunt vel.</p>
</body>
</html>