<%- include('./include/_header') %>

    <main id ='site-register'>

        <form action="/auth/register" method="POST" class="register">
            
            <table class="table-register">
                <tr>
                    <th><h2>회원가입</h2></th>
                </tr>
                <tr><td>&nbsp;&nbsp;&nbsp;이름</td><td></td></tr>
                <tr><th><input type="text" class="text-register" name="username"></th></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;이메일</td></tr>
                <tr><th><input type="text" class="text-register" name="email"></th></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;비밀번호</td></tr>
                <tr><th><input type="password" class="text-register" name="password"></th></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;비밀번호 확인</td></tr>
                <tr><th><input type="password" class="text-register" name="password2"></th></tr>

                <tr><th><input type="submit" value="가입하기" class="btn-register"></th></tr>
            </table>
        </form>
    </main>
    
<%- include('./include/_footer') %>